<div class="collections-module">
    <div class="collections-module__header">
        {% if section.settings.enable_header and section.settings.section_header_text != blank %}
            <h4 class="collections-module__header-text">{{ section.settings.section_header_text }}</h4>
        {% endif %}

        {% if section.settings.enable_subhead and section.settings.section_subhead_text != blank %}
            <p class="collections-module__subhead-text">{{ section.settings.section_subhead_text }}</p>
        {% endif %}
    </div>

    <div class="container">
        <div class="collections-module__card-wrapper">
            <div class="collections-module__row">
				{% if section.blocks.size > 0 %}
					{% for block in section.blocks %}
                    {% assign collection = block.settings.collection %}
                        <div class="collection-card">
                            <a href="{{ collection.url }}" class="collection-card__link-wrapper">
                                <picture>
                                    <source media="(min-width: 768px)" srcset="{{ block.settings.image | img_url: 'master' }}">
                                    <source media="(max-width: 767px)" srcset="{{ block.settings.image_mobile | img_url: 'master' }}">
                                    <img src="{{ block.settings.image | img_url: 'master' }}">
                                </picture>
                            </a>
                            <a href="{{ collection.url }}" class="collection-card__hyperlink">
                                <p class="collection-card__hyperlink-text">{{ block.settings.hyperlink_text }}</p>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<style>
    #shopify-section-{{ section.id }} .collections-module {
        background-color: {{ section.settings.section_bg }};
        padding-bottom: {{ section.settings.section_bottom_padding }}px;
    }
    #shopify-section-{{ section.id }} .collections-module__header {
        padding-top: {{ section.settings.header_top_padding_desktop }}px;
        padding-bottom: {{ section.settings.header_bottom_padding_desktop }}px;
    }
    #shopify-section-{{ section.id }} .collections-module__header-text {
        font-size: {{ section.settings.header_font_size }}px;
        color: {{ section.settings.header_text_color }};
    }
    #shopify-section-{{ section.id }} .collections-module__subhead-text {
        font-size: {{ section.settings.subhead_font_size }}px;
        color: {{ section.settings.subhead_text_color }};
    }
    #shopify-section-{{ section.id }} .collection-card img {
        border-radius: 10px;
    }

    @media (max-width: 767px) {
        #shopify-section-{{ section.id }} .collections-module__row {
            grid-template-columns: auto;
            padding: 0 9px;
        }
        #shopify-section-{{ section.id }} .collections-module__header {
            padding-top: {{ section.settings.header_top_padding_mobile }}px;
            padding-bottom: {{ section.settings.header_bottom_padding_mobile }}px;
        }
        #shopify-section-{{ section.id }} .collections-module__header-text {
            font-size: {{ section.settings.header_font_size_mobile }}px;
        }
        #shopify-section-{{ section.id }} .collections-module__subhead-text {
            font-size: {{ section.settings.subhead_font_size_mobile }}px;
            line-height: 1rem;
            padding-top: 1rem;
            {% if section.settings.enable_subhead_mobile == false %}
                display: none;
            {% endif %}
        }
    }
</style>

{% schema %}
{
    "name": "Collections Module",
    "max_blocks": 3,
    "settings": [
        {
            "type": "header",
            "content": "Section settings"
        },
        {
            "type": "color",
            "id": "section_bg",
            "label": "Background color",
            "default": "#ffe5b4"
        },
        {
			"type":   "range",
			"id":     "section_bottom_padding",
			"min":       0,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Section end padding (desktop)",
			"default":   50
		},
        {
            "type": "header",
            "content": "Header settings"
        },
        {
            "type": "text",
            "id": "section_header_text",
            "label": "Header text",
            "default": "I'M LOOKING FOR..."
        },
        {
			"type":   "range",
			"id":     "header_font_size",
			"min":       20,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Header font size (desktop)",
			"default":   30
		},
        {
			"type":   "range",
			"id":     "header_font_size_mobile",
			"min":       16,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Header font size (mobile)",
			"default":   25
		},
        {
            "type": "checkbox",
            "id": "enable_header",
            "label": "Display header text",
            "default": true
        },
        {
            "type": "color",
            "id": "header_text_color",
            "label": "Header text color",
            "default": "#002798"
        },
        {
            "type": "text",
            "id": "section_subhead_text",
            "label": "Subhead text"
        },
        {
			"type":   "range",
			"id":     "subhead_font_size",
			"min":       16,
			"max":       32,
			"step":      1,
			"unit":      "px",
			"label":     "Subhead font size (desktop)",
			"default":   16
		},
        {
			"type":   "range",
			"id":     "subhead_font_size_mobile",
			"min":       16,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Subhead font size (mobile)",
			"default":   16
		},
        {
            "type": "checkbox",
            "id": "enable_subhead",
            "label": "Display subhead text",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "enable_subhead_mobile",
            "label": "Display subhead on mobile",
            "default": false
        },
        {
            "type": "color",
            "id": "subhead_text_color",
            "label": "Subhead text color",
            "default": "#002798"
        },
        {
			"type":   "range",
			"id":     "header_top_padding_desktop",
			"min":       0,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Header top padding (desktop)",
			"default":   40
		},
        {
			"type":   "range",
			"id":     "header_bottom_padding_desktop",
			"min":       0,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Header bottom padding (desktop)",
			"default":   40
		},
        {
			"type":   "range",
			"id":     "header_top_padding_mobile",
			"min":       0,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Header top padding (mobile)",
			"default":   50
		},
        {
			"type":   "range",
			"id":     "header_bottom_padding_mobile",
			"min":       0,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Header bottom padding (mobile)",
			"default":   50
		}
    ],
    "blocks": [
        {
			"type": "collection_card",
			"name": "Collection card",
			"limit": 3,
			"settings": [
				{
					"type": "collection",
					"id": "collection",
					"label": "Collection"
				},
				{
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image",
					"info": "Show custom image (Desktop)"
				},
                {
                    "type": "image_picker",
                    "id": "image_mobile",
                    "label": "Image (Mobile)",
                    "info": "Shows custom image (Mobile)"
                },
                {
                    "type": "text",
                    "id": "hyperlink_text",
                    "label": "Hyperlink Text",
                    "default": "SHOP NOW"
                }
			]
		}
    ],
    "presets": [
        {
            "name": "Collections Module",
            "category": "Collections"
        }
    ]
}
{% endschema %}