{% if section.blocks.size > 0 %}
    {% comment %}
        <!-- Yotpo Homepage Gallery > snippets > pdp-press.liquid -->
        <div class="yotpo yotpo-pictures-widget" data-gallery-id="61144870bfce571938406b8e" style="padding: 20px 0"></div>
        <!-- End Yotpo -->
    {% endcomment %}

    <section class="fashion-testimonials">
        {% if section.settings.section_header_text != blank %}
        <div class="fashion-testimonials__header">
            <h4 class="fashion-testimonials__header-text">{{ section.settings.section_header_text }}</h4>
        </div>
        {% endif %}
        <div class="container">
            {% assign testimonial_text_color = section.settings.testimonial_text_color %}
            {% assign testimonial_text_size = section.settings.testimonial_text_size %}

            <div class="fashion-testimonials__content js-fashion-testimonials-slider">
                {% for block in section.blocks %}
                    {% assign text = block.settings.text %}
                    {% assign brand_name = block.settings.brand_name %}
                    {% assign brand_icon = block.settings.brand_icon %}
                    {% assign brand_icon_width = block.settings.brand_icon_width %}

                    <div class="testimonial-card js-animate animate-fade-in-up animate-speed-800">
                        {% if text != blank %}
                            <div class="testimonial-card__content"
                                 style="color: {{ testimonial_text_color }}; font-size: {{ testimonial_text_size }}px">
                                {{ text }}
                            </div>
                        {% endif %}

                        {% if brand_icon != blank or brand_name != blank %}
                            <div class="testimonial-card__label">
                                {% if brand_icon != blank %}

                                    {%- assign icon_style = 'style="max-width: ' | append: brand_icon_width | append: 'px"' -%}
                                    {% include 'picture', image_desk: brand_icon, image_mobile: , class_name: 'testimonial-card__label-image', image_attr: icon_style, pic_attr: , figcaption: %}

                                    {% comment %}
                                    <img src="{{ brand_icon | img_url: '230x' }}"
                                         alt="{{ brand_icon.alt | escape }}"
                                         class="testimonial-card__label-image"
                                         style="max-width: {{ brand_icon_width }}px"
                                    >
                                    {% endcomment %}
                                {% else %}
                                    {{ brand_name }}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}

<style>
    #shopify-section-{{ section.id }} .fashion-testimonials__header-text {
        color: {{ section.settings.header_text_color }}
    }
    #shopify-section-{{ section.id }} .fashion-testimonials {
        position: relative;
        overflow-x: initial;
        padding-top: 45px;
        padding-bottom: 45px;
        {% if section.settings.background_picker == 'color' %}
        background-color: {{ section.settings.background_color }};
        {% endif %}
    }
    {% if section.settings.background_picker == 'default' or section.settings.background_picker == 'image' %}
        {% if section.settings.background_picker == 'default' %}
        #shopify-section-{{ section.id }} .fashion-testimonials {
            background-color: rgba(255, 223, 160, 0.34);
        }
        {% endif %}
        #shopify-section-{{ section.id }} .fashion-testimonials:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            {% if section.settings.background_picker == 'default' %}
            opacity: 0.07;
            background-image: linear-gradient(to right, #e02020, #f7b500 33%, #6dd400 50%, #0091ff 67%, #fa6400 80%, #6236ff 83%, #b620e0);
            {% else %}
            background-image: url('{{ section.settings.background_image_desktop | img_url: 'original' }}');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            {% endif %}
        }
        {% if section.settings.background_picker == 'default' %}
        @media (max-width: 991px) {
            #shopify-section-{{ section.id }} .fashion-testimonials:before {
                opacity: 0.11;
            }
        }
        {% endif %}
        @media (max-width: 767px) {
            #shopify-section-{{ section.id }} .fashion-testimonials:before {
                {% if section.settings.background_picker == 'default' %}
                background-image: linear-gradient(to right, #e02020 -6%, #f7b500 44%, #6dd400 69%, #0091ff 94%, #fa6400 114%, #6236ff 119%, #b620e0 144%);
                {% else %}
                background-image: url('{{ section.settings.background_image_mobile | img_url: 'original' }}');
                {% endif %}
            }
        }
    {% endif %}

</style>

{% schema %}
{
    "name": "Testimonials",
    "max_blocks": 6,
    "settings": [
        {
            "type": "header",
            "content": "Header Settings"
        },
        {
            "type": "text",
            "id": "section_header_text",
            "label": "Header text",
            "default": "WHAT PPL ARE SAYING..."
        },
        {
            "type": "color",
            "id": "header_text_color",
            "label": "Header text color",
            "default": "#002798"
        },
        {
            "type": "header",
            "content": "Testimonial Settings"
        },
        {
            "type": "color",
            "id": "testimonial_text_color",
            "label": "Text color",
            "default": "#3c3c3c"
        },
        {
            "type":    "range",
            "id":      "testimonial_text_size",
            "min":     12,
            "max":     17,
            "step":    1,
            "unit":    "px",
            "label":   "Text size",
            "default": 14
        },
        {
            "type": "header",
            "content": "Background Settings"
        },
        {
            "type": "image_picker",
            "id": "background_image_desktop",
            "label": "Background Image (Desktop)"
        },
        {
            "type": "image_picker",
            "id": "background_image_mobile",
            "label": "Background Image (Mobile)"
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "Background Color"
        },
        {
            "type": "radio",
            "id": "background_picker",
            "label": "Use for background:",
            "options": [
                {
                    "value": "default",
                    "label": "Default (Rainbow)"
                },
                {
                    "value": "color",
                    "label": "Color"
                },
                {
                    "value": "image",
                    "label": "Image"
                }
            ],
            "default": "default"
        }
    ],
    "blocks": [
        {
            "type": "testimonial",
            "name": "Testimonial",
            "settings": [
                {
                    "type": "richtext",
                    "label": "Text",
                    "id": "text"
                },
                {
                    "type": "text",
                    "label": "Brand name",
                    "id": "brand_name"
                },
                {
                    "type": "image_picker",
                    "label": "Brand logo",
                    "id": "brand_icon",
                    "info": "If icon does not set, Brand name will be used instead."
                },
                {
                    "type":    "range",
                    "id":      "brand_icon_width",
                    "min":     100,
                    "max":     200,
                    "step":    1,
                    "unit":    "px",
                    "label":   "Brand logo max width",
                    "default": 100
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Testimonials",
            "category": "Content"
        }
    ]
}
{% endschema %}
