<div class="image-product-module">
    <div class="image-product-module__header">
        {% if section.settings.enable_header and section.settings.section_header_text != blank %}
            <h4 class="image-product-module__header-text">{{ section.settings.section_header_text }}</h4>
        {% endif %}

        {% if section.settings.enable_subhead and section.settings.section_subhead_text != blank %}
            <p class="image-product-module__subhead-text">{{ section.settings.section_subhead_text }}</p>
        {% endif %}
    </div>

    <div class="container">
        <div class="image-product-module__card-wrapper">
            <div class="image-product-module__row">
				{% if section.blocks.size > 0 %}
					{% for block in section.blocks %}
						{% case block.type %}
                            {% when 'product_card' %}
                            {% assign product = all_products[block.settings.product] %}
                            {% assign custom_image = block.settings.image %}                        

                            {% if product != blank and product.type != 'GWP' and product.type != 'Evergreen GWP'%}
                                {% include 'product-card' custom_image: custom_image, class: class %}
                            {% endif %}

                            {% when 'wide-image-card' %}
                            {% assign product = block.settings.link_to_product %}
                            {% assign collection = block.settings.link_to_collection %}
                                <div class="wide-image-card">
                                    {% if collection != blank and product == blank %}
                                        <a href="{{ collection.url }}" class="wide-image-card__link-wrapper">
                                    {% elsif product != blank and collection == blank %}
                                        <a href="{{ product.url }}" class="wide-image-card__link-wrapper">
                                    {% endif %}
                                    <picture>
                                        <source media="(min-width: 768px)" srcset="{{ block.settings.wide_image_desktop | img_url: 'master' }}">
                                        <source media="(max-width: 767px)" srcset="{{ block.settings.wide_image_mobile | img_url: 'master' }}">
                                        <img src="{{ block.settings.wide_image_desktop | img_url: 'master' }}">
                                    </picture>
                                </div>
                        {% endcase %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<style>
    #shopify-section-{{ section.id }} .image-product-module {
        background-color: {{ section.settings.section_bg }};
        padding-bottom: {{ section.settings.section_bottom_padding }}px;
    }
    #shopify-section-{{ section.id }} .image-product-module__header {
        padding-top: {{ section.settings.header_top_padding_desktop }}px;
        padding-bottom: {{ section.settings.header_bottom_padding_desktop }}px;
    }
    #shopify-section-{{ section.id }} .image-product-module__header-text {
        font-size: {{ section.settings.header_font_size }}px;
        color: {{ section.settings.header_text_color }};
    }
    #shopify-section-{{ section.id }} .image-product-module__subhead-text {
        font-size: {{ section.settings.subhead_font_size }}px;
        color: {{ section.settings.subhead_text_color }};
    }
    #shopify-section-{{ section.id }} .wide-image-card {
        grid-row-start: 1;
        grid-column: span 2;
    }
    #shopify-section-{{ section.id }} .product-card {
        grid-row-start: 1;
    }

    @media (max-width: 767px) {
        #shopify-section-{{ section.id }} .image-product-module__header {
            padding-top: {{ section.settings.header_top_padding_mobile }}px;
            padding-bottom: {{ section.settings.header_bottom_padding_mobile }}px;
        }
        #shopify-section-{{ section.id }} .image-product-module__row {
            display: flex;
            flex-direction: column;
            {% for block in section.blocks %}
                {% if block.settings.switch_image_order == true %}
                    flex-direction: column-reverse;
                {% endif %}
            {% endfor %}
        }
        #shopify-section-{{ section.id }} .product-card__icon img {
            width: 23px;
            height: 23px;
        }

        #shopify-section-{{ section.id }} .product-card__icons {
            top: 15px;
            left: 15px;
        }
        #shopify-section-{{ section.id }} .product-card__icon+.product-card__icon {
           margin-left: 5px;
        }
        #shopify-section-{{ section.id }} .product-card__title {
            line-height: 1.59;
        }
        #shopify-section-{{ section.id }} .product-card__reviews {
            margin-top: 10px;
        }
        #shopify-section-{{ section.id }} .product-card {
            padding: 50px;
            padding-top: 0;
            padding-bottom: 25px;
        }

        #shopify-section-{{ section.id }} .image-product-module__header-text {
            font-size: {{ section.settings.header_font_size_mobile }}px;
        }
        #shopify-section-{{ section.id }} .image-product-module__subhead-text {
            font-size: {{ section.settings.subhead_font_size_mobile }}px;
            line-height: 1rem;
            padding-top: 1rem;
            {% if section.settings.enable_subhead_mobile == false %}
                display: none;
            {% endif %}
        }
        #shopify-section-{{ section.id }} .yotpo-stars {
            align-self: center;
        }
        #shopify-section-{{ section.id }} .yotpo-icon {
            font-size: 12.5px;
        }
    }
</style>

{% schema %}
{
    "name": "Product Module",
    "max_blocks": 2,
    "settings": [
        {
            "type": "header",
            "content": "Section settings"
        },
        {
            "type": "color",
            "id": "section_bg",
            "label": "Background color",
            "default": "#ffe5b4"
        },
        {
			"type":   "range",
			"id":     "section_bottom_padding",
			"min":       0,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Section end padding (desktop)",
			"default":   50
		},
        {
            "type": "header",
            "content": "Header settings"
        },
        {
            "type": "text",
            "id": "section_header_text",
            "label": "Header text",
            "default": "A BETTER PLACE, STARTING WITH UR FACE"
        },
        {
			"type":   "range",
			"id":     "header_font_size",
			"min":       20,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Header font size (desktop)",
			"default":   40
		},
        {
			"type":   "range",
			"id":     "header_font_size_mobile",
			"min":       16,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Header font size (mobile)",
			"default":   26
		},
        {
            "type": "checkbox",
            "id": "enable_header",
            "label": "Display header text",
            "default": true
        },
        {
            "type": "color",
            "id": "header_text_color",
            "label": "Header text color",
            "default": "#002798"
        },
        {
            "type": "text",
            "id": "section_subhead_text",
            "label": "Subhead text",
            "default": "Kinship was created by scientists + industry experts."
        },
        {
			"type":   "range",
			"id":     "subhead_font_size",
			"min":       16,
			"max":       32,
			"step":      1,
			"unit":      "px",
			"label":     "Subhead font size (desktop)",
			"default":   16
		},
        {
			"type":   "range",
			"id":     "subhead_font_size_mobile",
			"min":       16,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Subhead font size (mobile)",
			"default":   16
		},
        {
            "type": "checkbox",
            "id": "enable_subhead",
            "label": "Display subhead text",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "enable_subhead_mobile",
            "label": "Display subhead on mobile",
            "default": false
        },
        {
            "type": "color",
            "id": "subhead_text_color",
            "label": "Subhead text color",
            "default": "#002798"
        },
        {
			"type":   "range",
			"id":     "header_top_padding_desktop",
			"min":       0,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Header top padding (desktop)",
			"default":   40
		},
        {
			"type":   "range",
			"id":     "header_bottom_padding_desktop",
			"min":       0,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Header bottom padding (desktop)",
			"default":   40
		},
        {
			"type":   "range",
			"id":     "header_top_padding_mobile",
			"min":       0,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Header top padding (mobile)",
			"default":   50
		},
        {
			"type":   "range",
			"id":     "header_bottom_padding_mobile",
			"min":       0,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Header bottom padding (mobile)",
			"default":   50
		}
    ],
    "blocks": [
        {
			"type": "product_card",
			"name": "Product card",
			"limit": 1,
			"settings": [
				{
					"type": "product",
					"id": "product",
					"label": "Product"
				},
				{
				"type": "image_picker",
				"id": "image",
				"label": "Image",
					"info": "Show custom image instead of product image"
				}
			]
		},
        {
            "type": "wide-image-card",
            "name": "Wide image card",
            "limit": 1,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "wide_image_desktop",
                    "label": "Wide Image (Desktop)"
                },
                {
                    "type": "image_picker",
                    "id": "wide_image_mobile",
                    "label": "Image (Mobile)"
                },
                {
                    "type": "product",
                    "id": "link_to_product",
                    "label": "Link to Product",
                    "info": "Link a product"
                },
                {
                    "type": "collection",
                    "id": "link_to_collection",
                    "label": "Link to Collection",
                    "info": "Or link a collection"
                },
                {
                    "type": "checkbox",
                    "id": "switch_image_order",
                    "label": "Switch the order of cards (Mobile)",
                    "default": false
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Image + Product Module",
            "category": "Product"
        }
    ]
}
{% endschema %}