<div class="product-module">
    <div class="product-module__header">
        {% if section.settings.enable_header and section.settings.section_header_text != blank %}
            <h4 class="product-module__header-text">{{ section.settings.section_header_text }}</h4>
        {% endif %}

        {% if section.settings.enable_subhead and section.settings.section_subhead_text != blank %}
            <h5 class="product-module__subhead-text">{{ section.settings.section_subhead_text }}</h5>
        {% endif %}
    </div>

    <div class="container">
        <div class="product-module__card-wrapper">
            <div class="product-module__row">
				{% if section.blocks.size > 0 %}
					{% for block in section.blocks %}
						{% case block.type %}
                            {% when 'product_card' %}
                            {% assign product = all_products[block.settings.product] %}
                            {% assign custom_image = block.settings.image %}

                            {% if section.settings.product_card_grid_col == "2" %}
                                {% if forloop.index0 >= 2 %}
                                    {% assign hideCardMobile = 'hide-card-mobile' %}
                                {% endif %}
                            {% endif %}

                            {% if forloop.index0 == 3 %}
                                {% assign hideCardDesktop = 'hide-card-desktop' %}
                            {% endif %}

                            {% if product != blank and product.type != 'GWP' and product.type != 'Evergreen GWP'%}
                                {% include 'product-card' custom_image: custom_image, class: hideCardMobile, class2: hideCardDesktop %}
                            {% endif %}
                        {% endcase %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<style>
    #shopify-section-{{ section.id }} .product-module {
        background-color: {{ section.settings.section_bg }};
        padding-bottom: {{ section.settings.section_bottom_padding }}px;
    }
    #shopify-section-{{ section.id }} .product-module__header {
        padding-top: {{ section.settings.header_top_padding_desktop }}px;
        padding-bottom: {{ section.settings.header_bottom_padding_desktop }}px;
    }
    #shopify-section-{{ section.id }} .product-module__header-text {
        font-size: {{ section.settings.header_font_size }}px;
        color: {{ section.settings.header_text_color }};
    }
    #shopify-section-{{ section.id }} .product-module__subhead-text {
        font-size: {{ section.settings.subhead_font_size }}px;
        color: {{ section.settings.subhead_text_color }};
    }
    #shopify-section-{{ section.id }} .hide-card-desktop {
        display: none !important;
    }

    @media (max-width: 767px) {
        #shopify-section-{{ section.id }} .product-module__header-text {
            font-size: {{ section.settings.header_font_size_mobile }}px;
        }
        #shopify-section-{{ section.id }} .product-module__subhead-text {
            font-size: {{ section.settings.subhead_font_size_mobile }}px;
            line-height: 1rem;
            padding-top: 1rem;
            {% if section.settings.enable_subhead_mobile == false %}
                display: none;
            {% endif %}
        }
        #shopify-section-{{ section.id }} .hide-card-desktop {
            display: flex !important;
        }
        #shopify-section-{{ section.id }} .hide-card-mobile {
            display: none !important;
        }
    }
</style>

{% schema %}
{
    "name": "Product Module",
    "max_blocks": 4,
    "settings": [
        {
            "type": "header",
            "content": "Section settings"
        },
        {
            "type": "color",
            "id": "section_bg",
            "label": "Background color",
            "default": "#ffe5b4"
        },
        {
			"type":   "range",
			"id":     "section_bottom_padding",
			"min":       0,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Section end padding (desktop)",
			"default":   40
		},
        {
            "type": "header",
            "content": "Header settings"
        },
        {
            "type": "text",
            "id": "section_header_text",
            "label": "Header text",
            "default": "A BETTER PLACE, STARTING WITH UR FACE"
        },
        {
			"type":   "range",
			"id":     "header_font_size",
			"min":       20,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Header font size (desktop)",
			"default":   40
		},
        {
			"type":   "range",
			"id":     "header_font_size_mobile",
			"min":       16,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Header font size (mobile)",
			"default":   26
		},
        {
            "type": "checkbox",
            "id": "enable_header",
            "label": "Display header text",
            "default": true
        },
        {
            "type": "color",
            "id": "header_text_color",
            "label": "Header text color",
            "default": "#002798"
        },
        {
            "type": "text",
            "id": "section_subhead_text",
            "label": "Subhead text",
            "default": "Kinship was created by scientists + industry experts."
        },
        {
			"type":   "range",
			"id":     "subhead_font_size",
			"min":       16,
			"max":       32,
			"step":      1,
			"unit":      "px",
			"label":     "Subhead font size (desktop)",
			"default":   16
		},
        {
			"type":   "range",
			"id":     "subhead_font_size_mobile",
			"min":       16,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Subhead font size (mobile)",
			"default":   16
		},
        {
            "type": "checkbox",
            "id": "enable_subhead",
            "label": "Display subhead text",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "enable_subhead_mobile",
            "label": "Display subhead on mobile",
            "default": false
        },
        {
            "type": "color",
            "id": "subhead_text_color",
            "label": "Subhead text color",
            "default": "#002798"
        },
        {
			"type":   "range",
			"id":     "header_top_padding_desktop",
			"min":       0,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Header top padding (desktop)",
			"default":   40
		},
        {
			"type":   "range",
			"id":     "header_bottom_padding_desktop",
			"min":       0,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Header bottom padding (desktop)",
			"default":   40
		},
        {
			"type":   "range",
			"id":     "header_top_padding_mobile",
			"min":       0,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Header top padding (mobile)",
			"default":   50
		},
        {
			"type":   "range",
			"id":     "header_bottom_padding_mobile",
			"min":       0,
			"max":       80,
			"step":      1,
			"unit":      "px",
			"label":     "Header bottom padding (mobile)",
			"default":   50
		},
        {
            "type": "header",
            "content": "Product Card Settings"
        },
        {
            "type": "radio",
            "id": "product_card_grid_col",
            "label": "Display 2 or 4 Products (mobile)",
            "options": [
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "4",
                    "label": "4"
                }
            ],
            "default": "4"
        }
    ],
    "blocks": [
        {
			"type": "product_card",
			"name": "Product card",
			"limit": 4,
			"settings": [
				{
					"type": "product",
					"id": "product",
					"label": "Product"
				},
				{
				"type": "image_picker",
				"id": "image",
				"label": "Image",
					"info": "Show custom image instead of product image"
				}
			]
		}
    ],
    "presets": [
        {
            "name": "Product Module",
            "category": "Product"
        }
    ]
}
{% endschema %}